.homepage-container {
    padding: 2em;
    margin: 0 10em;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dashboard-container {
    margin: 2em 0;
    background-color: var(--color-light-blue);
    min-width:100%;
    border-radius: var(--border-rounded);
    min-height: 70vh ;
    padding: 2em;
}